span.property {color:#0066CC;}

pre.JAVA {line-height:10px;}

pre.XML {line-height:8px;}

pre.JSP {line-height:8px;}

pre.XHTML {line-height:8px;}

.java_type {color:#000000;}

.java_keyword {
    font-weight:bold;
    color:#7F1B55;
}

.java_javadoc_comment {
    color:#3F5FBF;
    font-style:italic;
    background-color:rgb(247,247,247);
}

.java_comment {
    color:#3F7F5F;
    background-color:rgb(247,247,247);
}

.java_operator {color:#000000;}

.java_plain {color:rgb(0,0,0);}

.java_literal {color:#2A00FF;}

pre CODE {
    font-size:12px;
    color:rgb(0,0,0);
    font-family:monospace; 
    white-space:nowrap;
}

.java_javadoc_tag {
    font-weight:bold;
    color:#7F9FBF;
    font-style:italic;
    background-color:rgb(247,247,247);
}

.java_separator {color:#000000;}

.xml_plain {color:rgb(0,0,0);}

.xml_tag_name {color:#3F7F7F;}

.xml_comment {
    color:#3F5FBF;
    background-color:rgb(247,247,247);
}

.xml_tag_symbols {color:#008080;}

.xml_rife_tag {
    color:rgb(0,0,0);
    background-color:rgb(228,230,160);
}

.xml_attribute_value {color:#2A00FF;}

.xml_attribute_name {
    font-weight:bold;
    color:#7F007F;
}

.xml_char_data {color:rgb(0,0,0);}

.xml_rife_name {
    color:#008cca;
    background-color:rgb(228,230,160);
}

.xml_processing_instruction {
    font-weight:bold;
    color:rgb(0,0,0);
    font-style:italic;
}

td.java {
    vertical-align:top;
    line-height:10px;
}

td.java-ln {
    vertical-align:top;
    line-height:10px;
}

tt.java {
    margin-bottom:0em;
    line-height:10px;
    font-family:verdana,helvetica,sans-serif;
}

tt.java-ln {
    margin-bottom:0em;
    line-height:10px;
}

pre.java {
    margin-bottom:0em;
    line-height:10px;
}

pre.java-ln {
    margin-bottom:0em;
    line-height:10px;
}

td.java-ln {
    line-height:10px;
    text-align:right;
}

tt.java-ln {
    color:#888888;
    line-height:10px;
}

pre.java-ln {
    color:#888888;
    line-height:10px;
}

span.java0 {
    font-size:8pt;
    color:#ffffff;
    line-height:10px;
}

span.java1 {
    font-size:8pt;
    color:#808080;
}

span.java2 {
    font-size:8pt;
    color:#3f7f5f;
    line-height:10px;
}

/* Single-line comment */

span.java3 {
    font-size:8pt;
    color:#3f7f5f;
    line-height:10px;
}

/* Keywords excluding 'return' */

span.java4 {
    font-weight:bold;
    font-size:8pt;
    color:#7F1B55;
    line-height:10px;
}

span.java5 {
    font-size:8pt;
    color:#2a00ff;
    line-height:10px;
}

span.java6 {
    font-size:8pt;
    color:#990000;
    line-height:10px;
}

span.java7 {
    font-size:8pt;
    color:#990000;
    line-height:10px;
}

span.java8 {
    font-size:8pt;
    color:#000000;
    line-height:10px;
}

/* Primitive types: long, int, void etc... */

span.java9 {
    font-weight:bold;
    font-size:8pt;
    color:#7F0055;
    line-height:10px;
}

span.java10 {
    font-size:8pt;
    color:#000000;
    line-height:10px;
}

span.java11 {
    font-size:8pt;
    color:#7f9fbf;
    line-height:10px;
}

span.java12 {
    font-size:8pt;
    color:#7f7f9f;
    line-height:10px;
}

span.java13 {
    font-size:8pt;
    color:#3f3fbf;
    line-height:10px;
}

span.java14 {
    font-size:8pt;
    color:#3f5fbf;
    line-height:10px;
}

span.java15 {
    font-size:8pt;
    color:#7F0055;
    line-height:10px;
}

/* Annotations */

span.java16 {
    font-size:8pt;
    color:#646464;
    line-height:10px;
}
