@import url("jbossorg.css");

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* work around problems in the jboss.org styles wrt html & jHighLight */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
pre {
    font-family:Monaco,monospace;
    line-height: 1.29em;
}

pre br {
    display:none;
}

pre.JAVA {
    line-height: 1.29em;
}

pre.XML {
    line-height: 1.29em;
}

pre.JSP {
    line-height: 1.29em;
}

pre.XHTML {
    line-height: 1.29em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

body{
	background-image:url(../images/org/hibernate/bkg_gradient.png);
    font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

a{
    text-decoration:none;
}

h1{
	background-image:url(../images/org/hibernate/title_hdr.png);
	color:#182737;
}

h2,h3,h4,h5,h6{
    color:#4a5d75;
}

#title a.site_href {
    display:block;
    height:100px;
    width:362px;
    float:left;
    background:url(../images/org/hibernate/hibernatelogo.png) top left no-repeat;
}

#title a.doc_href {
    display:block;
    height:100px;
    background:transparent url(../images/org/hibernate/community_doc.png) top right no-repeat;
}

.releaseinfo {
    color:#4a5d75;
    font-size:150%;
}

div.note {
    background-color:#849092;
    color:white;
    background-image: url(../images/org/hibernate/docbook/note.png);
}

div.note h2 {
    color:white;
}

div.tip {
    background-image:url(../images/org/hibernate/docbook/tip.png);
}

div.important {
    background-image:url(../images/org/hibernate/docbook/important.png);
}

div.caution {
    background-image:url(../images/org/hibernate/docbook/caution.png);
}

div.warning {
    background-image:url(../images/org/hibernate/docbook/warning.png);
}

div.note a:visited, div.tip a:visited, div.important a:visited, div.caution a:visited, div.warning a:visited, div.note a:link, div.tip a:link, div.important a:link, div.caution a:link, div.warning a:link {
    color: #f7f2d0;
}

.docnav li.next a strong {background-image:url(../images/org/hibernate/docbook/next.png);}
.docnav li.previous a strong {background-image:url(../images/org/hibernate/docbook/prev.png);}
.docnav li.home a strong {background-image:url(../images/org/hibernate/docbook/home.png);}
.docnav li.up a strong {background-image:url(../images/org/hibernate/docbook/up.png);}

/* Eclipse Help Navigation */
.navheader td.next a {background-image:url(../images/org/hibernate/docbook/next.png);}
.navheader td.previous a {background-image:url(../images/org/hibernate/docbook/prev.png);}

.navfooter td.next a {background-image:url(../images/org/hibernate/docbook/next.png);}
.navfooter td.previous a {background-image:url(../images/org/hibernate/docbook/prev.png);}
.navfooter td.home a {background-image:url(../images/org/hibernate/docbook/home.png);}
.navfooter td.up a {background-image:url(../images/org/hibernate/docbook/up.png);}


