<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name="hibernate.connection.url">jdbc:h2:tcp://localhost/./sakila</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.default_catalog">SAKILA</property>
        <property name="hibernate.default_schema">PUBLIC</property>
    </session-factory>
</hibernate-configuration>
