# Typically *NIX text editors, by default, append '~' to files on saving to make backups
*~

# Gradle work directory
.gradle

# Build output directies
/target
*/target
*/**/target
/build
*/build
testdb

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
bin

# NetBeans specific files/directories
.nbattrs

# Miscellaneous
*.log
.clover
.DS_Store

# JBoss Transactions
ObjectStore

# Profiler and heap dumps
*.jps
*.hprof
/.nb-gradle/