html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
    position:relative !important;
    cursor:auto !important;
}
body:before {
    content: url(../images/org/hibernate/logo_smaller.png);
    padding:25px;
}
#header {
    width: 1000px !important;
}
.sidebarblock>.content>.title,h4,h5,h6 {
    font-family: 'Noto Serif', "Open Sans", "DejaVu Sans", sans-serif !important;
    font-size: 1.3em !important;
    margin-top:0em !important;
    margin-bottom:1em !important;
    line-height:1.0125em !important
}
#toctitle {
    font-family: 'Noto Serif', "Open Sans", "DejaVu Sans", sans-serif !important;
}
#toctitle>.content>.title,h4,h5,h6 {
    font-family: 'Noto Serif', "Open Sans", "DejaVu Sans", sans-serif !important;
    font-weight:300 !important;
    font-style:normal !important;
    font-size: 1.3em !important;
    color: black !important;
    text-rendering:optimizeLegibility !important;
    margin-top:1em !important;
    margin-bottom:.5em !important;
    line-height:1.0125em !important
}
.toc {
    line-height: 3em !important;
    border-bottom:1px solid #bcae79!important;
    border-top:1px solid #bcae79!important;
    padding-bottom:0!important
}
.toc>a {
    font-weight: bold !important;
    font-size: 1.3em !important;
}
#toc>#tocsearch {
    font-family: "FontAwesome";
}
#author, #revnumber {
    font-size: 1.1em !important;
    margin-bottom: 0.2em !important;
}
.subheader .title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{
    color:darkslategray;
}
h1 {
    font-size: 2.5em !important;
    color:#182737 !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important;
    font-weight: bold !important;
    text-align: center !important;
    text-decoration: none !important;
    width:100% !important;
    margin-top:1.5em !important;
    margin-bottom: 1em !important;
}
h2 {
    font-weight: bold !important;
    font-size: 1.7em !important;
    line-height: 2em !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important;
    color:#4a5d75 !important;
    margin-top: 2em !important;
    margin-bottom: 0.5em !important;
    background-position: bottom !important;
    background-repeat: repeat-x !important;
    background-size: 75px;
    background-blend-mode: difference;
    height: 60px !important;
}
h3 {
    font-weight: bold !important;
    text-decoration: none !important;
    color:#4a5d75 !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important;
    font-size: 1.4em !important;
    margin-top: 1.4em !important;
    margin-bottom: 1.0em !important;
    line-height:1.0125em !important
}
h4{
font-weight: bold !important;
    font-size:1.125em !important;
    text-decoration: none !important;
    color:#4a5d75 !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important;
    margin-top: 1em !important;
    margin-bottom: 0.8em !important;
}h4,h5,h6{
    font-size:1.125em !important;
    text-decoration: none !important;
    color:#4a5d75 !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important
}
.admonitionblock{
    background-color: antiquewhite !important;
    border: none !important;
    border-radius: 0.3em !important;
    width: 100% !important;
}
td.icon {
    /* display:block !important; */
}
td.content {
    text-align:left !important;
    font-size:1em !important;
    display:block !important;
}
.admonitionblock>table td.content {
    border-left: none !important;
    padding: 1em;
}
.admonitionblock .icon [class^="fa icon-tip"]{
    background-image: url(../images/org/hibernate/docbook/tip.png) !important;
    background-repeat: no-repeat !important;
    margin: 10px !important;
    background-position: center !important;
    width: 50px !important;
    height: 50px !important;
    float: left !important;
}
.admonitionblock td.icon [class^="fa icon-note"]{
    background-image: url(../images/org/hibernate/docbook/note.png)!important;
    background-repeat: no-repeat !important;
    margin: 10px !important;
    background-position: center !important;
    width: 50px;
    height: 50px;
    float: left;
}
.admonitionblock td.icon [class^="fa icon-warning"]{
    background-image: url(../images/org/hibernate/docbook/warning.png) !important;
    background-repeat: no-repeat !important;
    margin: 10px !important;
    background-position: center !important;
    width: 50px !important;
    height: 50px !important;
    float: left !important;
}
.admonitionblock td.icon [class^="fa icon-caution"]{
    background-image: url(../images/org/hibernate/docbook/caution.png);
    background-repeat: no-repeat;
    margin: 10px !important;
    background-position: center !important;
    width: 50px;
    height: 50px;
    float: left;
}
.admonitionblock td.icon [class^="fa icon-important"]{
    background-image: url(../images/org/hibernate/docbook/important.png) !important;
    background-repeat: no-repeat !important;
    margin: 10px !important;
    background-position: center !important;
    width: 50px !important;
    height: 50px !important;
    float: left !important;
}
.admonitionblock td.icon .icon-note:before{
    content: none !important;
}
.admonitionblock td.icon .icon-tip:before{
    content: none !important;
}
.admonitionblock td.icon .icon-warning:before{
    content: none !important;
}
.admonitionblock td.icon .icon-caution:before{
    content: none !important;
}
.admonitionblock td.icon .icon-important:before{
    content: none !important;
}
.title{
    color:#4a5d75 !important;
}
hr{
    border:solid #ddddd8 !important;
    border-width:1px 0 0 !important;
    clear:both !important;
    margin:1.25em 0 1.1875em !important;
    height:0 !important
}
ul {
    padding-top:.25em !important;
    padding-bottom:.25em !important;
}
.exampleblock>.title{
    text-rendering:optimizeLegibility !important;
    text-align:left !important;
    font-family:"Noto Serif","DejaVu Serif",serif !important;
    font-size:1.2em !important;
    font-style:italic !important;
    color: #4a5d75 !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 2em !important;
}
.hdlist1{
    padding-left:.75em !important;
    padding-top: .5em;
    font-weight: lighter !important;
    color:#4a5d75 !important;
    font-family: 'Noto Serif', 'Lucida Grande', Geneva, Verdana, Arial, sans-serif !important;
    font-size: 1em !important;
}
em,i{
    font-style:italic !important;
    line-height:inherit !important
}
strong,b{
    font-weight:bold !important;
    line-height:inherit !important
}
small{
    font-size:60% !important;
    line-height:inherit !important
}
code{
    font-family:"Inconsolata","Droid Sans Mono","DejaVu Sans Mono",monospace !important;
    font-weight:400 !important;
    color:rgba(0,0,0,.9) !important
}
.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.exampleblock>.content {
    padding: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border: none !important;
}
code[data-lang='antlrv4']>.pln,.kwd {
    color: firebrick !important;
}
code[data-lang='antlrv4']>.pun {
    color: black !important;
}
pre {
    background-color: aliceblue !important;
    border-radius: 0.3em !important;
    font-size:1.05em !important;
}
.k, .kv, .kc, .kd, .kt, .kn {
  color: #445588 !important;
}
.o, .nd {
  font-weight: normal !important;
}
.nc, .nf {
  color: #990000 !important;
  font-weight: normal !important;
}
.c, .c1 {
  font-style: normal !important;
}
.na {
  color: #000000 !important;
}
