<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Envers">
    <test name="All">
        <packages>
            <package name="org.hibernate.envers.test.integration.accesstype" />
            <package name="org.hibernate.envers.test.integration.auditReader" />
            <package name="org.hibernate.envers.test.integration.basic" />
            <package name="org.hibernate.envers.test.integration.cache" />
            <package name="org.hibernate.envers.test.integration.collection" />
            <package name="org.hibernate.envers.test.integration.collection.mapkey" />
            <package name="org.hibernate.envers.test.integration.components" />
            <package name="org.hibernate.envers.test.integration.components.relations" />
            <package name="org.hibernate.envers.test.integration.customtype" />
            <package name="org.hibernate.envers.test.integration.data" />
            <package name="org.hibernate.envers.test.integration.flush" />
            <package name="org.hibernate.envers.test.integration.ids" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.childrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.emptychild" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.notownedrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.primarykeyjoin" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.relation" />
            <package name="org.hibernate.envers.test.integration.inheritance.joined.relation.unidirectional" />
            <package name="org.hibernate.envers.test.integration.inheritance.single" />
            <package name="org.hibernate.envers.test.integration.inheritance.single.childrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.single.notownedrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.single.relation" />
            <package name="org.hibernate.envers.test.integration.inheritance.tableperclass" />
            <package name="org.hibernate.envers.test.integration.inheritance.tableperclass.childrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.tableperclass.notownedrelation" />
            <package name="org.hibernate.envers.test.integration.inheritance.tableperclass.relation" />
            <package name="org.hibernate.envers.test.integration.interfaces.components" />
            <package name="org.hibernate.envers.test.integration.interfaces.relation" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.allAudited.subclass" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.allAudited.joined" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.allAudited.union" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited.subclass" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited.joined" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited.union" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited2.subclass" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited2.joined" />
            <package name="org.hibernate.envers.test.integration.interfaces.hbm.propertiesAudited2.union" />
            <package name="org.hibernate.envers.test.integration.manytomany" />
            <package name="org.hibernate.envers.test.integration.manytomany.biowned" />
            <package name="org.hibernate.envers.test.integration.manytomany.sametable" />
            <package name="org.hibernate.envers.test.integration.manytomany.ternary" />
            <package name="org.hibernate.envers.test.integration.manytomany.unidirectional" />
            <package name="org.hibernate.envers.test.integration.manytoone.unidirectional" />
            <package name="org.hibernate.envers.test.integration.naming"/>
            <package name="org.hibernate.envers.test.integration.naming.ids" />
            <package name="org.hibernate.envers.test.integration.notinsertable" />
            <package name="org.hibernate.envers.test.integration.notinsertable.manytoone" />
            <package name="org.hibernate.envers.test.integration.onetomany" />
            <package name="org.hibernate.envers.test.integration.onetomany.detached" />
            <package name="org.hibernate.envers.test.integration.onetoone.bidirectional" />
            <package name="org.hibernate.envers.test.integration.onetoone.bidirectional.ids" />
            <package name="org.hibernate.envers.test.integration.onetoone.unidirectional" />
            <package name="org.hibernate.envers.test.integration.primitive" />
            <package name="org.hibernate.envers.test.integration.properties" />
            <package name="org.hibernate.envers.test.integration.proxy" />
            <package name="org.hibernate.envers.test.integration.query" />
            <package name="org.hibernate.envers.test.integration.query.ids" />
            <package name="org.hibernate.envers.test.integration.reference" />
            <package name="org.hibernate.envers.test.integration.reventity" />
            <package name="org.hibernate.envers.test.integration.revfordate" />
            <package name="org.hibernate.envers.test.integration.sameids" />
            <package name="org.hibernate.envers.test.integration.secondary" />
            <package name="org.hibernate.envers.test.integration.secondary.ids" />
            <package name="org.hibernate.envers.test.integration.serialization" />
            <package name="org.hibernate.envers.test.integration.superclass" />
        </packages>
    </test>
</suite>
