<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2013, Red Hat Inc. or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.1//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="CHECKSTYLE:START_ALLOW_FINALIZER"/>
        <property name="onCommentFormat" value="CHECKSTYLE:END_ALLOW_FINALIZER"/>
        <property name="checkFormat" value="NoFinalizer"/>
    </module>

    <!-- See http://checkstyle.sourceforge.net/checks.html for details of the various checks -->

    <module name="TreeWalker">

        <module name="FileContentsHolder"/>

        <!--
            High-priority warnings : fail the build...
        -->
        <module name="RegexpSinglelineJava">
            <property name="ignoreComments" value="true" />
            <property name="format" value="^\t* +\t*\S" />
            <property name="message" value="Line has leading space characters; indentation should be performed with tabs only." />
        </module>

        <module name="MissingDeprecated" />

        <module name="MissingOverride" />

        <module name="PackageAnnotation" />

        <module name="NeedBraces" />

        <module name="LeftCurly">
            <property name="option" value="eol" />
        </module>

        <module name="RightCurly">
            <property name="option" value="alone" />
        </module>

        <module name="EqualsHashCode" />

        <module name="StringLiteralEquality" />

        <module name="NoFinalizer" />

        <module name="OneStatementPerLine" />

        <module name="AvoidStarImport" />

        <module name="RedundantImport" />

        <module name="UnusedImports" />

        <module name="UpperEll" />



        <!--
            Medium and low priority warnings : do not fail build
        -->

        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="true" />
            <property name="severity" value="warning" />
        </module>

        <module name="HideUtilityClassConstructor">
            <property name="severity" value="warning" />
        </module>

        <module name="MutableException">
            <property name="severity" value="warning" />
        </module>

        <module name="EmptyStatement">
            <property name="severity" value="warning" />
        </module>

        <module name="MissingSwitchDefault">
            <property name="severity" value="warning" />
        </module>

        <module name="DefaultComesLast">
            <property name="severity" value="warning" />
        </module>

        <module name="ModifiedControlVariable">
            <property name="severity" value="warning" />
        </module>

        <module name="SimplifyBooleanExpression">
            <property name="severity" value="warning" />
        </module>

        <module name="SimplifyBooleanReturn">
            <property name="severity" value="warning" />
        </module>

        <module name="ExplicitInitialization">
            <property name="severity" value="warning" />
        </module>

        <module name="FallThrough">
            <property name="severity" value="warning" />
        </module>

        <module name="ArrayTypeStyle">
            <property name="severity" value="warning" />
        </module>

        <module name="TrailingComment">
            <property name="severity" value="warning" />
        </module>

        <module name="ModifierOrder">
            <property name="severity" value="warning" />
        </module>

        <module name="AbstractClassName">
            <!-- we are just using this to make sure that classes matching the pattern (Abstract*) have the abstract modifier -->
            <property name="format" value="^Abstract.*$" />
            <property name="ignoreName" value="true" />
            <property name="severity" value="warning" />
        </module>

        <module name="ClassTypeParameterName">
            <property name="format" value="^[A-Z][A-Z0-9]*$" />
            <property name="severity" value="warning" />
        </module>

        <module name="ConstantName">
            <property name="format" value="^[A-Z](_?[A-Z0-9]+)*$|log" />
            <property name="severity" value="warning" />
        </module>

        <module name="LocalFinalVariableName">
            <property name="severity" value="warning" />
        </module>

        <module name="LocalVariableName">
            <property name="severity" value="warning" />
        </module>

        <module name="MemberName">
            <property name="severity" value="warning" />
        </module>

        <module name="MethodTypeParameterName">
            <property name="format" value="^[A-Z][A-Z0-9]*$" />
            <property name="severity" value="warning" />
        </module>

        <module name="PackageName">
            <property name="severity" value="warning" />
        </module>

        <module name="ParameterName">
            <property name="severity" value="warning" />
        </module>

        <module name="StaticVariableName">
            <property name="severity" value="warning" />
        </module>

        <module name="TypeName">
            <property name="severity" value="warning" />
        </module>

        <module name="AbbreviationAsWordInName">
            <property name="severity" value="warning" />
        </module>

        <module name="MethodParamPad">
            <property name="severity" value="warning" />
        </module>

        <module name="TypecastParenPad">
            <property name="severity" value="warning" />
        </module>

        <module name="ParenPad">
            <property name="tokens" value="CTOR_CALL, METHOD_CALL, SUPER_CTOR_CALL" />
            <property name="option" value="space" />
            <property name="severity" value="warning" />
        </module>

    </module>

    <module name="JavadocPackage">
        <property name="allowLegacy" value="true" />
        <property name="severity" value="warning" />
    </module>

    <module name="NewlineAtEndOfFile" />

    <!--
        Used to collect "todo" comments into a single location
    -->
    <module name="TreeWalker">
        <module name="TodoComment">
            <property name="format" value="[Tt][Oo][Dd][Oo]"/>
            <property name="severity" value="info" />
        </module>
    </module>

</module>
