<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.hibernate.ejb.test.Cat"/>
		<mapping class="org.hibernate.ejb.test.Kitten"/>
    </session-factory>
</hibernate-configuration>