<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">${db.dialect}</property>
        <property name="hibernate.connection.driver_class">${jdbc.driver}</property>
        <property name="hibernate.connection.username">${jdbc.user}</property>
        <property name="hibernate.connection.password">${jdbc.pass}</property>
        <property name="hibernate.connection.url">${jdbc.url}</property>
        <property name="hibernate.connection.isolation">${jdbc.isolation}</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region_prefix">hibernate.test</property>
        <property name="hibernate.jdbc.use_streams_for_binary">true</property>
        <property name="hibernate.jdbc.batch_size">0</property>
        <property name="hibernate.max_fetch_depth">3</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
        <mapping class="org.hibernate.ejb.test.Item"/>
        <mapping class="org.hibernate.ejb.test.Cat"/>
		<mapping class="org.hibernate.ejb.test.Kitten"/>
        <mapping class="org.hibernate.ejb.test.Distributor"/>
        <class-cache class="org.hibernate.ejb.test.Item" usage="read-write"/>
        <collection-cache collection="org.hibernate.ejb.test.Item.distributors" usage="read-write" region="RegionName"/>
        <event type="pre-insert"/>
    </session-factory>
</hibernate-configuration>