<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ SPDX-License-Identifier: Apache-2.0
  ~ Copyright Red Hat Inc. and Hibernate Authors
  -->
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence persistence.xsd" version="2.0">
    <persistence-unit name="annotation-processor" transaction-type="JTA">
        <mapping-file>/org/hibernate/processor/test/xmlmapped/address.xml</mapping-file>
        <mapping-file>/org/hibernate/processor/test/xmlmapped/building.xml</mapping-file>
        <!-- use mapping files without leading slash - see METAGEN-75 -->
        <mapping-file>org/hibernate/processor/test/xmlmapped/mammal.xml</mapping-file>
        <mapping-file>org/hibernate/processor/test/xmlmapped/boy.xml</mapping-file>
    </persistence-unit>
</persistence>
