<?xml version="1.0" encoding="utf-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramBuilderLaunchConfigurationType">
  <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="hibernate-core-hibernate-core" />
  <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false" />
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/home/aboriero/hibernate/wip_60_steve/hibernate-core/gradlew" />
  <booleanAttribute key="org.eclipse.debug.core.ATTR_REFRESH_RECURSIVE" value="false" />
  <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/hibernate-core-hibernate-core/src/test/bundles&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/hibernate-core-hibernate-core/src/test/resources&quot; type=&quot;2&quot;/&gt;&#10;&lt;/resources&gt;}" />
  <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false" />
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_BUILD_SCOPE" value="${working_set:&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;&#10;&lt;resources&gt;&#10;&lt;item path=&quot;/hibernate-core-hibernate-core/src/test/bundles&quot; type=&quot;2&quot;/&gt;&#10;&lt;item path=&quot;/hibernate-core-hibernate-core/src/test/resources&quot; type=&quot;2&quot;/&gt;&#10;&lt;/resources&gt;}" />
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_RUN_BUILD_KINDS" value="incremental,auto," />
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="hibernate-core:processTestResources --no-daemon" />
  <booleanAttribute key="org.eclipse.ui.externaltools.ATTR_TRIGGERS_CONFIGURED" value="true" />
  <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="/home/aboriero/hibernate/wip_60_steve/hibernate-core" />
</launchConfiguration><!-- AUTO-GENERATED FILE.  DO NOT MODIFY. This is generated by gradle eclipse task -->