<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping resource="org/hibernate/test/annotations/Boat.hbm.xml"/>
        <mapping package="org.hibernate.test.annotations"/>
        <mapping class="org.hibernate.test.annotations.Plane"/>
    </session-factory>
</hibernate-configuration>